.grid {
    height: 360px;
    width: 360px;
    border: rgba(75, 13, 75, 0.888) 3px solid;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: rgb(240, 13, 123);
}

.starting-block {
    background-color: rgb(247, 235, 4);
}


/* .log-left,
.log-right {
    background-color: lightblue;
} */


/* 
.car-left,
.car-right {
    background-color: lightgrey;
} */

.l1,
.l2,
.l3 {
    background-color: rgb(165, 42, 71);
}

.l4,
.l5 {
    background-color: rgb(129, 200, 224);
}

.c1 {
    background-color: rgba(51, 8, 51, 0.925);
}

.c2,
.c3 {
    background-color: lightgrey;
}

.frog {
    background-color: rgba(58, 146, 58, 0.851);
}