.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;
    /* left: 50px;
    bottom: 50px; */
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(187, 255, 0);
}