.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;
    /* left: 50px;
    bottom: 50px; */
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(187, 255, 0);
}

#btn {
    position: absolute;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    /* border-width: 50px; */
    border: solid #a8a30b 5px;
    background-color: rgb(170, 0, 255);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    margin-left: 570px;
    text-transform: uppercase;
    cursor: pointer;
    /* text-decorat; */
    /* text-size-adjust: 30px; */
}